.hidden{
  display: none;
}

div#containerFiltri{
  width: 100%;
}

div.fieldBox{
  position: relative;
  float: left;
  margin-left: 5px;
}

div.fieldBox:first-child{
  margin-left: 0px;
}

button.floatRight{
  position: relative;
  float: right;
}

button.buttonSearch{
  margin-top: 20px;
}

div.clearSpace{
  clear: both;
  margin-bottom: 20px;
}

div.clear{
  clear: both;
}

table.fullWidthTable{
  width: 100%;
}

div.dashSection{
  position: relative;
  float: left;
  margin: 2px;
  padding: 2px;
  /* border: 1px solid #dbdbdb; */
  border-radius: 2px;
  box-sizing: border-box;
}

div#containerComandi{
  width: 15%;
}
div#containerDocumenti{
  width: 84%;
}

table thead tr th,
table tbody tr td{
  border: 1px solid black;
}


table.clickable tbody tr{
  cursor: pointer;
}


table tbody tr:hover td,
table tbody tr.selected td{
  background-color: #f5f5f5;
}

div.containerClinica{
  margin:5px;
  float:left;
  width:350px;
}

button.is-primary{
  background-color: #009fe3 !important;
}


button.is-primary:hover{
  background-color: transparent !important;
  border-color: #00d1b2 !important;
  color: #00d1b2 !important;
}


span.btn-primary:hover{
  background-color: transparent !important;

  border-color: #00d1b2 !important;

  color: #00d1b2 !important;
}


div.mascheraContainer{
  display:none;
}

div.containerDocumenti{
  overflow:auto;
  max-height:500px;
}

div#containerListaProfili{
  max-height: 500px;
  overflow: auto;

}
