p.card-header-title{
  margin: 0px !important;
  padding:0px !important;
}

header.card-header{
  padding:5px !important;

}


div.giorno{
  float:left;
  margin:20px;
  margin-left:35px;
  flex: none;
}
